.brand {
    border: 1.5px solid green;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(176, 245, 176);
}

.brand p {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}

#logo {
    width: 40px;
}

.messageArea {
    height: 85vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}


button {
    border-radius: 50%;
    width: 60px;
    background-color: rgb(176, 245, 176);
}

#sendMessageBtn {
    width: 40px;
}

#inputArea {
    display: flex;
    justify-content: center;
}

#inputMessage {
    width: 70%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background-color: rgb(176, 245, 176);
    border-radius: 30px;
    margin-right: 10px;
}

.incomingMessage {
    background-color: rgb(55, 249, 55);
    margin-right: auto; 
}

.outgoingMessage {
    background-color: rgb(176, 245, 176);
    margin-left: auto; 
    margin-right: 10%; 
}

/* Add some styling to the messages */
.incomingMessage,
.outgoingMessage {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    max-width: 70%; 
}